@charset "UTF-8";
html {
	background-color: #b7b4a9;
}

body {
	width: 80%;
	padding: 10px 30px;
	margin: 30px 30px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	background-color: #eae0b5;
}
div#imglegion{}